<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Create News</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 class="text-center">EDIT NEWS</h1>
    <a class="btn btn-secondary mb-4" href="http://localhost:8080/home/news">HOME</a>
    <form th:action="@{/home/edit/__${id}__}" method="POST">
        <div class="form-group">
            <label for="title" class="text-md-center">EDIT NEWS TITLE</label>
            <input th:value="${news.title}" type="text" class="form-control mb-3" id="title" name="title">
        </div>
        <div class="form-group">
            <label for="body">EDIT NEWS BODY</label>
            <textarea th:value="${news.body}" class="form-control mb-3" id="body" name="body" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">EDIT</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>
