<!doctype html>
<html xmlns:th="http://www.thymeleaf.com" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .card {
            height: 100%;
        }

        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        .card-text {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    </style>
</head>
<body>
<div class="container text-md-start">
    <h1 class="text-center fs-1 m-4">News</h1>
    <a href="http://localhost:8080/news/create" target="_blank" class="btn btn-outline-primary d-flex justify-content-center mb-4">Create News</a>
    <div class="row">
        <div th:each="news, iterStat : ${news}" class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body" >
                    <h4 th:text="${news.title}" class="text-black text-info-emphasis"></h4>
                    <p th:text="${#strings.substring(news.body, 0, 200)}" class="card-text" th:id="${news.id}"></p>
                    <a th:href="@{/home/readmore/__${news.id}__}" th:onclick="{'alert(${news.id})'}" class="link-secondary mb-4">Read more</a>
                    <form th:action="@{/home/edit/__${news.id}__}" method="get">
                        <button type="submit" class="btn btn-outline-dark btn-sm">EDIT</button>
                        <a th:href="@{/home/delete/__${news.id}__}" class="btn btn-outline-danger btn-sm" onclick="return confirm('Are you sure?')">DELETE</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>

